header{
    width: 100%;
    height: 70px;
    background-color: #DF7919;
    position: fixed;
    z-index: 1;
    display: flex;
}
.logo img{
    height: 190%;
    margin-left: 20px;
    transform: translateY(-25%);
}
.page{
    display: flex;
    margin-top: 17px;
    margin-left: 50px;
}
.page div{
    color: #fff;
    margin-left: 70px;
    margin-bottom: 17px;
    font-size: 20px;
}
.border{
    border-bottom: 1px solid #fff;
}
/*.hover:hover{
    background-color: #f1a35a;
}*/
.hIcon{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
}
.CheerCareer{
    margin-left: 60px;
    font-size: 20px;
    color: #fff;
}

/* レスポンシブ */
@media all and (max-width: 930px) {
    .page div{
        margin-left: 10px;
    }
}