/* tmp_header */
header {
  width: 100%;
  height: 70px;
  background-color: #DF7919;
  position: fixed;
  z-index: 1;
}

.App {
  background-color: #F6F2E8;
  width: 100%;
}

.Top {
  background: url('../../img/ソーシャルスタイル診断_top.png');
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 200px 200px;
  width: 100%;
  height: 100vh;
}

.startButton-1 {
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.Top_title {
  position: absolute;
  color: #fff;
  width: 100%;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.Top_title h1 {
  font-size: 4em;
  margin-bottom: 0;
}
.Top_title h3 {
  font-size: 2em;
}

.Top_title {
  text-align: center;
}

main {
  width: 800px;
  margin: 0 auto;
}

.explanation{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.exp_title {
  text-align: center;
  font-weight: 600;
}

.exp_title_txt01{
  font-size: 2em;
  width: 100%;
  margin-bottom: 0;
}

.exp_title_txt02{
  margin-top: 0;
  font-size: 2.3em;
}

.exp_txt {
  font-size: 1.35em;
  font-weight: 500;
}

.emphasis {
  color: #DF7919;
}

.graph_area{
  margin-top: 50px;
  margin: 0 auto;
}
.graph {
  position: relative;
  height: 800px;
  background-color: #FFFF;
}

.graph_top {
  margin: 0;
  padding: 0;
  height: 400px;
  display: flex;
}

.graph_btm {
  margin: 0;
  padding: 0;
  height: 400px;
  display: flex;
}

.graph_elem {
  position: relative;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 400px;
}
.center_txt {
  text-align: center;
  position: absolute;
}
.tl_txt{
  position: absolute;
  top: 2%;
  left: 5%;
}
.tr_txt{
  top: 2%;
  left: 73%;
}
.bl_txt {
  top: 80%;
  left: 5%;
}
.br_txt {
  top: 80%;
  left: 58%;
}
.graph_txt_p, .graph_txt_h3{
  margin: 0;
  padding: 0;
}
.graph_txt_h3 {
  font-weight: 400;
  font-size: 2.0em;
}
.graph_txt_p {
  font-size: 0.9em;
}

.tl {
  border-right: #E89B54 solid 2px;
  border-bottom: #E89B54 solid 3px;
}

.tr {
  border-left: #E89B54 solid 2px;
  border-bottom: #E89B54 solid 3px;
}

.bl {
  border-top: #E89B54 solid 3px;
  border-right: #E89B54 solid 2px;
}

.br {
  border-top: #E89B54 solid 3px;
  border-left: #E89B54 solid 2px;
}

.triangle {
  position: absolute;
  transform: translate(-50%, -50%);
}

.t_top {
  top: 1%;
  left: 50%;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #E89B54;
  border-left: 20px solid transparent;
}

.t_right {
  top: 50%;
  left: 99%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #E89B54;
}

.t_bottom {
  top: 98.9%;
  left: 50%;
  border-right: 20px solid transparent;
  border-top: 30px solid #E89B54;
  border-left: 20px solid transparent;
}

.t_left {
  top: 50%;
  left: 1%;
  border-right: 30px solid #E89B54;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.startButton-2{
  width: 325px;
  margin: 0 auto;
  margin-top: 100px;
}


/* レスポンシブ */
@media all and (max-width: 860px) {
  .Top {
    border-radius: 0px;
  }
  .Top_title {
    font-size: 0.6em;
  }
  main{
    width: 90%;
  }
  
  /* graf */
  .graph_area{
    width: 600px;
    margin: 0 auto;
  }
  .graph {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 600px;
    background-color: #FFFF;
  }
  .graph_top, .graph_btm {
    height: 300px;
    display: flex;
  }
  .graph_elem {
    width: 300px;
    height: 300px;
  }
  .tr_txt{
    top: 2%;
    left: 67%;
  }
  .bl_txt {
    top: 75%;
    left: 5%;
  }
  .br_txt {
    top: 75%;
    left: 46%;
  }
}

@media all and (max-width: 660px) {
  .graph_area{
    width: 400px;
    margin: 0 auto;
  }
  .graph {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #FFFF;
  }
  .graph_top, .graph_btm {
    height: 200px;
    display: flex;
  }
  .graph_elem {
    width: 200px;
    height: 200px;
  }
  .tr_txt{
    top: 2%;
    left: 67%;
  }
  .bl_txt {
    top: 75%;
    left: 5%;
  }
  .br_txt {
    top: 75%;
    left: 46%;
  }
  .graph_txt_p {
    font-size: 0.7em;
  }
  .graph_txt_h3 {
    font-size: 1.4em;
  }

  .t_top {
    border-right: 10px solid transparent;
    border-bottom: 20px solid #E89B54;
    border-left: 10px solid transparent;
  }
  
  .t_right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #E89B54;
  }
  
  .t_bottom {
    border-right: 10px solid transparent;
    border-top: 20px solid #E89B54;
    border-left: 10px solid transparent;
  }
  
  .t_left {
    border-right: 20px solid #E89B54;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  
}

@media all and (max-width: 440px) {
  .graph_area{
    width: 300px;
    margin: 0 auto;
  }
  .graph {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    position: relative;
    background-color: #FFFF;
  }
  .graph_top, .graph_btm {
    height: 150px;
    display: flex;
  }
  .graph_elem {
    width: 150px;
    height: 150px;
  }
  .tr_txt{
    top: 2%;
    left: 55%;
  }
  .bl_txt {
    top: 65%;
    left: 5%;
  }
  .br_txt {
    top: 65%;
    left: 29%;
  }
}


/* .help {
  position: relative;
  width: 800px;
  left: 470px;
  top: 2300px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 44px;
  padding-left: 20px;
  color: #000000;
}

.donNkow {
  position: relative;
  width: 1000px;
  height: 500px;
  left: 400px;
  top: 2500px;
}

.howWork {
  width: 100%;
  height: 100px;
  display: flex;
}

.bou {
  position: absolute;
  background: #DF7919;
  border-radius: 50px;
  width: 10px;
  height: 70px;
}

.aaa {
  position: absolute;
  font-size: 43px;
  color: #DF7919;
  margin: 0 0 0 30px;
}

.bbb {
  position: absolute;
  font-size: 40px;
}

.intern {
  position: absolute;
  font-size: 40px;
  color: #DF7919;
  margin-top: 330px;
}

.relationship {
  position: relative;
  width: 1000px;
  height: 700px;
  left: 400px;
  top: 2600px;
}

.startButton-3 {
  position: relative;
  top: 2400px;
  left: 590px;
}

.backToTop {
  position: relative;
  top: 2350px;
  left: 1400px;
  width: 200px;
  height: 200px;
}

.maru {
  position: absolute;
  background: #DF7919;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.sannkaku {
  position: absolute;
  left: 23.53%;
  right: 24.26%;
  top: 23.53%;
  bottom: 22.79%;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background: #FFFFFF;
} */
