.App {
  background-color: #F6F2E8;
  height: 3944px;
  width: 1334px;
  position: relative;
  margin: auto;
}

.backImg {
  background: url('./img/ソーシャルスタイル診断_top.png');
  position: relative;
  width: 1335px;
  height: 719px;
  left: -2px;
  top: 91px;
  border-radius: 0px 0px 200px 200px;
}

.startButton-1 {
  position: relative;
  left: 485px;
  top: 600px;
}

.explanation {
  position: absolute;
  width: 800px;
  height: 630px;
  left: 267px;
  top: 883px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  color: #000000;
  word-wrap: break-word;
}

.emphasis {
  color: #DF7919;
  display: block;
  font-size: 40px;
  margin-top: 10px;
}

.graph {
  position: absolute;
  width: 800px;
  height: 800px;
  left: 267px;
  top: 1600px;
  background-color: #FFFF;
}

.graf_top {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 400px;
  display: flex;
}

.graf_btm {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 400px;
  display: flex;
}

.graf_elem {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 400px;
}

.tl {
  border-right: #E89B54 solid 3px;
  border-bottom: #E89B54 solid 3px;
}

.tr {
  border-left: #E89B54 solid 3px;
  border-bottom: #E89B54 solid 3px;
}

.bl {
  border-top: #E89B54 solid 3px;
  border-right: #E89B54 solid 3px;
}

.br {
  border-top: #E89B54 solid 3px;
  border-left: #E89B54 solid 3px;
}

.background_tr {
  width: 100%;
  height: 100%;
  background-color: #E89B54;
  opacity: 0.32;
}

.triangle {
  position: absolute;
  transform: translate(-50%, -50%);
}

.t_top {
  top: 1.5%;
  left: 50%;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #E89B54;
  border-left: 20px solid transparent;
}

.t_right {
  top: 50%;
  left: 98.5%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #E89B54;
}

.t_bottom {
  top: 98.5%;
  left: 50%;
  border-right: 20px solid transparent;
  border-top: 30px solid #E89B54;
  border-left: 20px solid transparent;
}

.t_left {
  top: 50%;
  left: 1.5%;
  border-right: 30px solid #E89B54;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
