.App {
  background-color: #F6F2E8;
  height: 5500px;
  position: relative;
}

.backImg {
  background: url('./img/ソーシャルスタイル診断_top.png');
  position: relative;
  width: 100%;
  background-size: cover;
  height: 900px;
  left: -2px;
  top: 91px;
  border-radius: 0px 0px 200px 200px;
}

.startButton-1 {
  position: relative;
  left: 590px;
  top: 730px;
}

.explanation {
  position: absolute;
  width: 800px;
  height: 630px;
  left: 420px;
  top: 1100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  color: #000000;
  word-wrap: break-word;
}

.emphasis {
  color: #DF7919;
  font-size: 40px;
  margin-top: 10px;
}

.graph {
  position: absolute;
  width: 800px;
  height: 800px;
  left: 435px;
  top: 1950px;
  background-color: #FFFF;
}

.graf_top {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 400px;
  display: flex;
}

.graf_btm {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 400px;
  display: flex;
}

.graf_elem {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 400px;
}

.tl {
  border-right: #E89B54 solid 3px;
  border-bottom: #E89B54 solid 3px;
}

.tr {
  border-left: #E89B54 solid 3px;
  border-bottom: #E89B54 solid 3px;
}

.bl {
  border-top: #E89B54 solid 3px;
  border-right: #E89B54 solid 3px;
}

.br {
  border-top: #E89B54 solid 3px;
  border-left: #E89B54 solid 3px;
}

.background_tr {
  width: 100%;
  height: 100%;
  background-color: #E89B54;
  opacity: 0.32;
}

.triangle {
  position: absolute;
  transform: translate(-50%, -50%);
}

.t_top {
  top: 1.5%;
  left: 50%;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #E89B54;
  border-left: 20px solid transparent;
}

.t_right {
  top: 50%;
  left: 98.5%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #E89B54;
}

.t_bottom {
  top: 98.5%;
  left: 50%;
  border-right: 20px solid transparent;
  border-top: 30px solid #E89B54;
  border-left: 20px solid transparent;
}

.t_left {
  top: 50%;
  left: 1.5%;
  border-right: 30px solid #E89B54;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.startButton-2 {
  position: relative;
  left: 590px;
  top: 2000px;
}

.help {
  position: relative;
  width: 800px;
  left: 470px;
  top: 2300px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 44px;
  padding-left: 20px;
  color: #000000;
}

.donNkow {
  position: relative;
  width: 1000px;
  height: 500px;
  left: 400px;
  top: 2500px;
}

.howWork {
  width: 100%;
  height: 100px;
  display: flex;
}

.bou {
  position: absolute;
  background: #DF7919;
  border-radius: 50px;
  width: 10px;
  height: 70px;
}

.aaa {
  position: absolute;
  font-size: 43px;
  color: #DF7919;
  margin: 0 0 0 30px;
}

.bbb {
  position: absolute;
  font-size: 40px;
}

.intern {
  position: absolute;
  font-size: 40px;
  color: #DF7919;
  margin-top: 330px;
}

.relationship {
  position: relative;
  width: 1000px;
  height: 700px;
  left: 400px;
  top: 2600px;
}

.startButton-3 {
  position: relative;
  top: 2400px;
  left: 590px;
}

.backToTop {
  position: relative;
  top: 2350px;
  left: 1400px;
  width: 200px;
  height: 200px;
}

.maru {
  position: absolute;
  background: #DF7919;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.sannkaku {
  position: absolute;
  left: 23.53%;
  right: 24.26%;
  top: 23.53%;
  bottom: 22.79%;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background: #FFFFFF;
}
